
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

img {
  max-width: 100%;
}

:root {
  /* color */
  --bgclr:white;
  --text-clr:#1D1759;
--btn-clr: #9CFFF9;

  /* font */
  --ff: 'Poppins', sans-serif;
}

body {
font-family: var(--ff);
  line-height: 1.6;
  background-color: var(--bglr);
  color: var(--text-clr);
  margin: 0;
}

.icon::before,
.icon::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.container {
   
   width: 90%;
   margin: 0 auto;
}

header {
    background-color: var(--text-clr);
    margin-bottom: 4em;
    padding: 1em 5%;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    max-width: 35px;
}

.logo {
    width: 100%;
}

.nav {
    position: fixed;
    
    background-color: var(--btn-clr);
    color: var(--text-clr);
    top: 0;
    bottom: 40em;
    left: 40em;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}


.nav-link:hover,
.nav-link:focus {
    color: green;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.8em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    background-color: var(--text-clr);
    transform: rotate(.625turn);
    transition: transform 250ms ease-in-out;
}

.nav-open .hamburger::before {
    background-color: var(--text-clr);
    transform: rotate(90deg) translateX(-6px);
    transition: transform 250ms ease-in-out;
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--btn-clr);
    width: 3em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 7px; }
.hamburger::after { bottom: 7px; }

main {
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}

.registration-link {
    cursor: pointer;
}

.register {
    max-width: 390px;
    background-color: var(--text-clr);
    margin-top: 1em;
    padding: 1.2em 12em;
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: none;
    color: var(--btn-clr);
    cursor: pointer;
    border: none;
    border-radius: 60px;
}

.register:hover,
.register:focus {
    background-color: green;
    color: white;
}

.text {

     font-size: 1.6rem;
     font-weight: 400;
     text-align: center;
}

.subtext {
    display: block;
    margin: 0;
}

article {
    width: 100%;
    margin-bottom: 1.8em;
  padding: 2em 1.5em;
    background-color: var(--btn-clr);
    border-radius: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

article p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
    margin: 4em 0;
}

.fa-brands {
    font-size: 2.2rem;
    color: var(--text-clr);
}

.cover-pic {
    display: none;
}

@media (min-width: 900px) {
.nav-toggle {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 0;
}

.nav-link {
    text-transform: uppercase;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 8em;
    margin-bottom:5em;
}

h1 {
    margin: 0;
}

.cover-pic {
    display: block;
    max-width: 100%;
}

.article-wrapper {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
}

article {
    max-height : 100%;
}
}